{% extends "./layout.html" %}
{% load static %}
{% block addition_links %}

<style>
    @import url('https://fonts.googleapis.com/css?family=Amarante');



    #header {
        width:100%;
        height:180px;
        padding:52px;
        position:fixed;
        background-color:white;
    }

    #main {
        width: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    #journal{
        color:black;
    }

    #facebuttons{
        top:180px;
        position:fixed;
    }

</style>
{% endblock %}

{% block content %}
{% load static %}

<div id="main">
    <table id="table" class="faces-table tb">
        <div id="header">
            <a href="http://dvfu.ru/" target="_blank" style="position:absolute; top:15px; right:85%;"><img alt="Логотип школы цифровой экономики" style="height:135px; width:220px; " src="{% static '/FRS/img/fefuds.png' %}" /></a>
            <a class="h" style="color: #0067b1; font-size:70px; font-family: 'Amarante', Tahoma, sans-serif;">СИСТЕМА РАСПОЗНАВАНИЯ ЛИЦ</a>
            <a href="http://fefudigitalschool.com/" target="_blank" style="position:absolute; top:15px; left:85%;"><img alt="Логотип школы цифровой экономики" style="height:135px; width:237px; " src="{% static '/FRS/img/shc.png' %}" /></a>
        </div>
        <div class="buttons" id="facebuttons">
            <a class="btn" id="btn_head" href="/stream">К РАСПОЗНАВАТЕЛЮ</a>
            <a class="btn" href="#" onclick=savemany()>СОХРАНИТЬ ИЗМЕНЕНИЯ</a>
            <a class="btn" href="#" onclick=deletemany()>УДАЛИТЬ ВЫБРАННОЕ</a>
        </div>
        <div id="filter-box">
            <input class="search" id="nm" placeholder="Введите имя" type="text" value="{{ name_filter }}">
            <input class="search" id="srch" placeholder="дд.мм.гггг" onmouseenter="(this.type='date')" onmouseout="(this.type='text')" type="text" value="{{ date_filter }}">
            <div class='btn' id="sbtn" onclick="window.location.href='/faces/filtered_faces?time='+qty()+'&name='+nm()">ПОИСК</div>
            <div class='btn' id="sbtn" onclick="window.location.href='/faces/filtered_faces?time=&name='">СБРОС</div>
        </div>
            <thead>
                <tr class="backtitle">
                    <th><input type="checkbox" class="checkall" onchange="checkAll(this)"></th>
                    <th><span class="dbtitle">Имя посетителя <img alt="поле изменяемо" title="Поле изменяемо" style="height:25px; width:18px; margin-left:5px; " src="{% static '/FRS/img/pencil.png' %}" /> </span></th>
                    <th><span class="dbtitle">Фото</span></th>
                    <th><span class="dbtitle">Дата последнего посещения</span></th>
                    <th><span class="dbtitle">Журнал посещений</span></th>
                </tr>
             </thead>
        {% csrf_token %}
        {% for r in data %}
            <tr class="trow" style="padding:5px;">
                <td width="3%" class="dbrow" style=""><input type="checkbox" onchange="chekchek2(this, '{{ r.1 }}', '{{ r.0 }}')" id="{{ r.0 }}"/>
                <td width="32%" title="Поле изменяемо" class="dbrow" id="name" data-id="uid-{{ r.0 }}" data-old_value='{{ r.1 }}' contenteditable="true" onfocusout="chekchek('{{ r.1 }}', '{{ r.0 }}')">{{ r.1 }}</td>
                <td width="10%" class="dbrow"><a target="_blank"
                                  href="{% static '/facephotos/' %}{{ r.0 }}/photo_{{ r.0 }}.png"
                                  style=""><img src="{% static '/facephotos/' %}{{ r.0 }}/photo_{{ r.0 }}.png" style="width:80px; height:97px;"></a></td>
                <td width="35%" class="dbrow">{{ r.2 }}</td>
                <td width="20%" class="dbrow"><a target="_blank"
                                  href="{% static '/facephotos/' %}{{ r.0 }}/{{ r.0 }}.txt"
                                  id="journal">Журнал</a></td>

            </tr>
        {% endfor %}

    </table>
</div>
<script src="{% static '/FRS/js/database functions.js' %}"></script>
{% endblock %}

